# Julia for Data Science by Huda Nassar

## [Julia for Data Science - Video 1: Data, by Dr. Huda Nassar (for JuliaAcademy.com)](https://www.youtube.com/watch?v=iG1dZBaxS-U&list=PLP8iPy9hna6QuDTt11Xxonnfal91JhqjO&index=2)

## Data

In [3]:
using BenchmarkTools
using DataFrames
using DelimitedFiles
using CSV
using XLSX

# Get some data

In [9]:
?download

search:download

  download(url::AbstractString, [localfile::AbstractString])

  Download a file from the given url, optionally renaming it to the given
  local file name. If no filename is given this will download into a
  randomly-named file in your temp directory. Note that this function relies
  on the availability of external tools such as curl, wget or fetch to
  download the file and is provided for convenience. For production use or
  situations in which more options are needed, please use a package that
  provides the desired functionality instead.

  Returns the filename of the downloaded file.

In [2]:
P = download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "programminglanguages.csv")

"programminglanguages.csv"

In [10]:
# we could do the same with wget
;wget "https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv"

LoadError: syntax: extra token """ after end of expression

# Read your data file

In [11]:
;head programminglanguages.csv

year,language
1951,Regional Assembly Language
1952,Autocode
1954,IPL
1955,FLOW-MATIC
1957,FORTRAN
1957,COMTRAN
1958,LISP
1958,ALGOL 58
1959,FACT

In [15]:
P,H = readdlm("programminglanguages.csv", ',';header=true);

In [16]:
H

1×2 Array{AbstractString,2}:
 "year"  "language"

In [17]:
P

73×2 Array{Any,2}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
 1959  "RPG"
 1962  "APL"
 1962  "Simula"
    ⋮
 2003  "Scala"
 2005  "F#"
 2006  "PowerShell"
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

In [19]:
# To write a text file, you can:
writedlm("programminglanguages_dlm.txt", P, '-')

- `CSV` lib is the recommended, just use `DelimitedFiles` when you have a complicated file and you need to specify several things

In [20]:
C = CSV.read("programminglanguages.csv");

In [24]:
@show typeof(C)
C[1:10,:]

typeof(C) = DataFrame

10×2 DataFrame
│ Row │ year  │ language                   │
│     │ Int64 │ String                     │
├─────┼───────┼────────────────────────────┤
│ 1   │ 1951  │ Regional Assembly Language │
│ 2   │ 1952  │ Autocode                   │
│ 3   │ 1954  │ IPL                        │
│ 4   │ 1955  │ FLOW-MATIC                 │
│ 5   │ 1957  │ FORTRAN                    │
│ 6   │ 1957  │ COMTRAN                    │
│ 7   │ 1958  │ LISP                       │
│ 8   │ 1958  │ ALGOL 58                   │
│ 9   │ 1959  │ FACT                       │
│ 10  │ 1959  │ COBOL                      │

In [25]:
@show typeof(P)
P[1:10,:]

typeof(P) = Array{Any,2}

10×2 Array{Any,2}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"

In [26]:
C.year

73-element Array{Int64,1}:
 1951
 1952
 1954
 1955
 1957
 1957
 1958
 1958
 1959
 1959
 1959
 1962
 1962
    ⋮
 2003
 2005
 2006
 2007
 2009
 2010
 2011
 2011
 2011
 2011
 2012
 2014

In [27]:
names(C)

2-element Array{String,1}:
 "year"
 "language"

In [28]:
describe(C)

2×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean    │ min      │ median │ max       │ nunique │
│     │ Symbol   │ Union…  │ Any      │ Union… │ Any       │ Union…  │
├─────┼──────────┼─────────┼──────────┼────────┼───────────┼─────────┤
│ 1   │ year     │ 1982.99 │ 1951     │ 1986.0 │ 2014      │         │
│ 2   │ language │         │ ALGOL 58 │        │ dBase III │ 73      │

In [29]:
@btime P, H = readdlm("programminglanguages.csv", ',';header=true);
@btime C = CSV.read("programminglanguages.csv");

157.207 μs (324 allocations: 51.14 KiB)
  40.181 μs (232 allocations: 22.20 KiB)

In [32]:
CSV.write("programminglanguages_CSV.csv",DataFrame(P))

"programminglanguages_CSV.csv"

* Another file type we often read is excel format `xlsx`

In [17]:
T = XLSX.readdata("/home/george/git/learn-julia/data/zillow_data_download_april2020.xlsx", "Sale_counts_city", "A1:F9")

9×6 Array{Any,2}:
      "RegionID"  "RegionName"    …      "2008-03"      "2008-04"
  6181            "New York"             missing        missing
 12447            "Los Angeles"      1446           1705
 39051            "Houston"          2926           3121
 17426            "Chicago"          2910           3022
  6915            "San Antonio"   …  1479           1529
 13271            "Philadelphia"     1609           1795
 40326            "Phoenix"          1310           1519
 18959            "Las Vegas"        1618           1856

In [18]:
G = XLSX.readtable("/home/george/git/learn-julia/data/zillow_data_download_april2020.xlsx", "Sale_counts_city")

(Any[Any[6181, 12447, 39051, 17426, 6915, 13271, 40326, 18959, 54296, 38128  …  396952, 397236, 398030, 398104, 398357, 398712, 398716, 399081, 737789, 760882], Any["New York", "Los Angeles", "Houston", "Chicago", "San Antonio", "Philadelphia", "Phoenix", "Las Vegas", "San Diego", "Dallas"  …  "Barnard Plantation", "Windsor Place", "Stockbridge", "Mattamiscontis", "Chase Stream", "Bowdoin College Grant West", "Summerset", "Long Pond", "Hideout", "Ebeemee"], Any["New York", "California", "Texas", "Illinois", "Texas", "Pennsylvania", "Arizona", "Nevada", "California", "Texas"  …  "Maine", "Missouri", "Wisconsin", "Maine", "Maine", "Maine", "South Dakota", "Maine", "Utah", "Maine"], Any[1, 2, 3, 4, 5, 6, 7, 8, 9, 10  …  28750, 28751, 28752, 28753, 28754, 28755, 28756, 28757, 28758, 28759], Any[missing, 1446, 2926, 2910, 1479, 1609, 1310, 1618, 772, 1158  …  0, 0, 0, 0, 0, 0, 0, 0, 1, 0], Any[missing, 1705, 3121, 3022, 1529, 1795, 1519, 1856, 1057, 1232  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0], Any[missing, 1795, 3220, 2937, 1582, 1709, 1654, 1961, 1195, 1240  …  0, 0, 0, 0, 0, 0, 2, 0, 0, 0], Any[missing, 1890, 3405, 3224, 1761, 1914, 1743, 2022, 1115, 1236  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0], Any[missing, 2072, 3352, 3464, 1678, 1984, 1975, 2219, 1272, 1392  …  0, 0, 0, 0, 0, 1, 1, 0, 0, 0], Any[missing, 1876, 2962, 3371, 1468, 1739, 1809, 2248, 1171, 1138  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  …  Any[3473, 2651, 3894, 3702, 2384, 2682, 3898, 3284, 1542, 1407  …  0, 0, 0, 0, 0, 2, 3, 0, 0, 0], Any[3900, 2504, 3511, 3549, 2242, 2270, 3570, 3058, 1433, 1235  …  0, 0, 2, 0, 0, 2, 6, 0, 1, 0], Any[4493, 2675, 3687, 3622, 2300, 2479, 3616, 3235, 1529, 1423  …  0, 0, 0, 0, 0, 3, 10, 0, 1, 0], Any[4266, 2759, 3414, 3619, 2233, 2503, 3581, 3254, 1479, 1266  …  0, missing, 0, 0, 0, 3, 5, 0, 2, 0], Any[4183, 2334, 2803, 2938, 1788, 2184, 3199, 2821, 1307, 1143  …  0, missing, 0, 0, 1, 1, 4, 0, 1, 0], Any[4232, 2594, 2969, 2930, 1917, 2337, 3189, 3097, 1356, 1239  …  0, missing, 0, 0, 0, missing, 8, 0, 2, 0], Any[3869, 2272, 2699, 2176, 1520, 1931, 2867, 2702, 1179, 1117  …  0, missing, 0, 0, 0, missing, 8, 0, missing, 0], Any[3938, 2394, 3338, 2866, 1876, 2192, 2934, 2810, 1276, 1315  …  0, missing, 0, 0, 0, missing, 5, 0, missing, 0], Any[4306, 2006, 2407, 2240, 1460, 2381, 2226, 2512, 1020, 1056  …  0, missing, 0, 0, 0, missing, 1, 0, missing, 1], Any[4054, 1522, 2682, 2100, 1626, 1620, 2325, 2547, missing, 1292  …  missing, missing, missing, missing, missing, missing, 2, 0, missing, 0]], [:RegionID, :RegionName, :StateName, :SizeRank, Symbol("2008-03"), Symbol("2008-04"), Symbol("2008-05"), Symbol("2008-06"), Symbol("2008-07"), Symbol("2008-08")  …  Symbol("2019-05"), Symbol("2019-06"), Symbol("2019-07"), Symbol("2019-08"), Symbol("2019-09"), Symbol("2019-10"), Symbol("2019-11"), Symbol("2019-12"), Symbol("2020-01"), Symbol("2020-02")])

- `G` is a tuple of two itens, the first is an vector of vectors where each vector corresponds to a column in the excel file and the second is the header

In [5]:
G[1]

148-element Array{Any,1}:
 Any[6181, 12447, 39051, 17426, 6915, 13271, 40326, 18959, 54296, 38128  …  396952, 397236, 398030, 398104, 398357, 398712, 398716, 399081, 737789, 760882]
 Any["New York", "Los Angeles", "Houston", "Chicago", "San Antonio", "Philadelphia", "Phoenix", "Las Vegas", "San Diego", "Dallas"  …  "Barnard Plantation", "Windsor Place", "Stockbridge", "Mattamiscontis", "Chase Stream", "Bowdoin College Grant West", "Summerset", "Long Pond", "Hideout", "Ebeemee"]
 Any["New York", "California", "Texas", "Illinois", "Texas", "Pennsylvania", "Arizona", "Nevada", "California", "Texas"  …  "Maine", "Missouri", "Wisconsin", "Maine", "Maine", "Maine", "South Dakota", "Maine", "Utah", "Maine"]
 Any[1, 2, 3, 4, 5, 6, 7, 8, 9, 10  …  28750, 28751, 28752, 28753, 28754, 28755, 28756, 28757, 28758, 28759]
 Any[missing, 1446, 2926, 2910, 1479, 1609, 1310, 1618, 772, 1158  …  0, 0, 0, 0, 0, 0, 0, 0, 1, 0]
 Any[missing, 1705, 3121, 3022, 1529, 1795, 1519, 1856, 1057, 1232  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1795, 3220, 2937, 1582, 1709, 1654, 1961, 1195, 1240  …  0, 0, 0, 0, 0, 0, 2, 0, 0, 0]
 Any[missing, 1890, 3405, 3224, 1761, 1914, 1743, 2022, 1115, 1236  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 2072, 3352, 3464, 1678, 1984, 1975, 2219, 1272, 1392  …  0, 0, 0, 0, 0, 1, 1, 0, 0, 0]
 Any[missing, 1876, 2962, 3371, 1468, 1739, 1809, 2248, 1171, 1138  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1981, 2017, 2979, 1480, 1635, 1965, 2207, 1193, 1042  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 2195, 2595, 2869, 1475, 1598, 2074, 2372, 1319, 1089  …  0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1579, 1865, 1915, 949, 1169, 1435, 1880, 873, 772  …  0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
 ⋮
 Any[3456, 2150, 3283, 2735, 1989, 1958, 3378, 2748, 1207, 1058  …  0, 1, 0, 1, 4, 0, 6, 0, 0, 0]
 Any[3652, 2537, 3620, 3197, 2137, 2177, 3728, 2959, 1384, 1221  …  0, 0, 0, 0, 0, 0, 4, 0, 0, 0]
 Any[3473, 2651, 3894, 3702, 2384, 2682, 3898, 3284, 1542, 1407  …  0, 0, 0, 0, 0, 2, 3, 0, 0, 0]
 Any[3900, 2504, 3511, 3549, 2242, 2270, 3570, 3058, 1433, 1235  …  0, 0, 2, 0, 0, 2, 6, 0, 1, 0]
 Any[4493, 2675, 3687, 3622, 2300, 2479, 3616, 3235, 1529, 1423  …  0, 0, 0, 0, 0, 3, 10, 0, 1, 0]
 Any[4266, 2759, 3414, 3619, 2233, 2503, 3581, 3254, 1479, 1266  …  0, missing, 0, 0, 0, 3, 5, 0, 2, 0]
 Any[4183, 2334, 2803, 2938, 1788, 2184, 3199, 2821, 1307, 1143  …  0, missing, 0, 0, 1, 1, 4, 0, 1, 0]
 Any[4232, 2594, 2969, 2930, 1917, 2337, 3189, 3097, 1356, 1239  …  0, missing, 0, 0, 0, missing, 8, 0, 2, 0]
 Any[3869, 2272, 2699, 2176, 1520, 1931, 2867, 2702, 1179, 1117  …  0, missing, 0, 0, 0, missing, 8, 0, missing, 0]
 Any[3938, 2394, 3338, 2866, 1876, 2192, 2934, 2810, 1276, 1315  …  0, missing, 0, 0, 0, missing, 5, 0, missing, 0]
 Any[4306, 2006, 2407, 2240, 1460, 2381, 2226, 2512, 1020, 1056  …  0, missing, 0, 0, 0, missing, 1, 0, missing, 1]
 Any[4054, 1522, 2682, 2100, 1626, 1620, 2325, 2547, missing, 1292  …  missing, missing, missing, missing, missing, missing, 2, 0, missing, 0]

In [7]:
G[1][1]

28759-element Array{Any,1}:
   6181
  12447
  39051
  17426
   6915
  13271
  40326
  18959
  54296
  38128
  10221
  33839
  25290
      ⋮
 396704
 396947
 396952
 397236
 398030
 398104
 398357
 398712
 398716
 399081
 737789
 760882

In [8]:
G[1][1][1:10]

10-element Array{Any,1}:
  6181
 12447
 39051
 17426
  6915
 13271
 40326
 18959
 54296
 38128

In [9]:
G[2][1:10]

10-element Array{Symbol,1}:
 :RegionID
 :RegionName
 :StateName
 :SizeRank
 Symbol("2008-03")
 Symbol("2008-04")
 Symbol("2008-05")
 Symbol("2008-06")
 Symbol("2008-07")
 Symbol("2008-08")

- And we can easily store this data in a DataFrame
- `DataFrame(G...)` uses the "splat" operator to *unwrap* these arrays and pass them to the DataFrame constructor

In [11]:
D = DataFrame(G...) # is equivalent to DataFrame(G[1],G[2])

28759×148 DataFrame. Omitted printing of 144 columns
│ Row   │ RegionID │ RegionName                 │ StateName    │ SizeRank │
│       │ Any      │ Any                        │ Any          │ Any      │
├───────┼──────────┼────────────────────────────┼──────────────┼──────────┤
│ 1     │ 6181     │ New York                   │ New York     │ 1        │
│ 2     │ 12447    │ Los Angeles                │ California   │ 2        │
│ 3     │ 39051    │ Houston                    │ Texas        │ 3        │
│ 4     │ 17426    │ Chicago                    │ Illinois     │ 4        │
│ 5     │ 6915     │ San Antonio                │ Texas        │ 5        │
│ 6     │ 13271    │ Philadelphia               │ Pennsylvania │ 6        │
│ 7     │ 40326    │ Phoenix                    │ Arizona      │ 7        │
│ 8     │ 18959    │ Las Vegas                  │ Nevada       │ 8        │
│ 9     │ 54296    │ San Diego                  │ California   │ 9        │
│ 10    │ 38128    │ Dallas                     │ Texas        │ 10       │
⋮
│ 28749 │ 396947   │ Beaver Cove Plantation     │ Maine        │ 28749    │
│ 28750 │ 396952   │ Barnard Plantation         │ Maine        │ 28750    │
│ 28751 │ 397236   │ Windsor Place              │ Missouri     │ 28751    │
│ 28752 │ 398030   │ Stockbridge                │ Wisconsin    │ 28752    │
│ 28753 │ 398104   │ Mattamiscontis             │ Maine        │ 28753    │
│ 28754 │ 398357   │ Chase Stream               │ Maine        │ 28754    │
│ 28755 │ 398712   │ Bowdoin College Grant West │ Maine        │ 28755    │
│ 28756 │ 398716   │ Summerset                  │ South Dakota │ 28756    │
│ 28757 │ 399081   │ Long Pond                  │ Maine        │ 28757    │
│ 28758 │ 737789   │ Hideout                    │ Utah         │ 28758    │
│ 28759 │ 760882   │ Ebeemee                    │ Maine        │ 28759    │

In [12]:
by(D, :StateName,size)

51×2 DataFrame
│ Row │ StateName      │ x1          │
│     │ Any            │ Tuple…      │
├─────┼────────────────┼─────────────┤
│ 1   │ New York       │ (1332, 148) │
│ 2   │ California     │ (1136, 148) │
│ 3   │ Texas          │ (1589, 148) │
│ 4   │ Illinois       │ (1374, 148) │
│ 5   │ Pennsylvania   │ (2196, 148) │
│ 6   │ Arizona        │ (207, 148)  │
│ 7   │ Nevada         │ (90, 148)   │
│ 8   │ Florida        │ (672, 148)  │
│ 9   │ Indiana        │ (684, 148)  │
│ 10  │ North Carolina │ (781, 148)  │
⋮
│ 41  │ Connecticut    │ (182, 148)  │
│ 42  │ Delaware       │ (71, 148)   │
│ 43  │ Montana        │ (256, 148)  │
│ 44  │ New Hampshire  │ (240, 148)  │
│ 45  │ Wyoming        │ (159, 148)  │
│ 46  │ North Dakota   │ (305, 148)  │
│ 47  │ Hawaii         │ (65, 148)   │
│ 48  │ Maine          │ (497, 148)  │
│ 49  │ West Virginia  │ (522, 148)  │
│ 50  │ South Dakota   │ (254, 148)  │
│ 51  │ Vermont        │ (262, 148)  │

In [13]:
typeof(G)

Tuple{Array{Any,1},Array{Symbol,1}}

# The join operator

In [14]:
foods = ["apple", "cucumber", "tomato", "banana"]
calories = [105,47,22,105]
prices = [0.85, 1.6, 0.8, 0.6]
dataframe_calories = DataFrame(item=foods, calories=calories)
dataframe_prices = DataFrame(item=foods, price=prices)
DF = join(dataframe_calories, dataframe_prices, on=:item)

4×3 DataFrame
│ Row │ item     │ calories │ price   │
│     │ String   │ Int64    │ Float64 │
├─────┼──────────┼──────────┼─────────┤
│ 1   │ apple    │ 105      │ 0.85    │
│ 2   │ cucumber │ 47       │ 1.6     │
│ 3   │ tomato   │ 22       │ 0.8     │
│ 4   │ banana   │ 105      │ 0.6     │

In [19]:
# we can also use the DataFrame contructor on a matrix
DataFrame(T)

9×6 DataFrame
│ Row │ x1       │ x2           │ x3           │ x4       │ x5      │ x6      │
│     │ Any      │ Any          │ Any          │ Any      │ Any     │ Any     │
├─────┼──────────┼──────────────┼──────────────┼──────────┼─────────┼─────────┤
│ 1   │ RegionID │ RegionName   │ StateName    │ SizeRank │ 2008-03 │ 2008-04 │
│ 2   │ 6181     │ New York     │ New York     │ 1        │ missing │ missing │
│ 3   │ 12447    │ Los Angeles  │ California   │ 2        │ 1446    │ 1705    │
│ 4   │ 39051    │ Houston      │ Texas        │ 3        │ 2926    │ 3121    │
│ 5   │ 17426    │ Chicago      │ Illinois     │ 4        │ 2910    │ 3022    │
│ 6   │ 6915     │ San Antonio  │ Texas        │ 5        │ 1479    │ 1529    │
│ 7   │ 13271    │ Philadelphia │ Pennsylvania │ 6        │ 1609    │ 1795    │
│ 8   │ 40326    │ Phoenix      │ Arizona      │ 7        │ 1310    │ 1519    │
│ 9   │ 18959    │ Las Vegas    │ Nevada       │ 8        │ 1618    │ 1856    │

In [20]:
# You can also easily write data to an `XLSX` file
XLSX.writetable("writefile_using_XLSX.xlsx", G[1], G[2])

# Importing your data 24 min