# Week 4 Peer Review - Answers

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [1]:
# Import the required packages
using Distributions, DataFrames, Random

In [2]:
# Seed the random number generator
Random.seed!(1234);

In [4]:
# Question 1: Create a dataframe named df1 with 30 rows and 4 columns
# var1 = should consist of 30 values from a standard normal distribution (mean of 0 and standard deviation of 1)
df1 = DataFrame(ID=1:30, 
    var1=rand(Normal(0,1), 30), 
    var2=rand(Normal(10, 2), 30), 
    var3=rand(5:15, 30))
df1

30×4 DataFrame
│ Row │ ID    │ var1       │ var2    │ var3  │
│     │ Int64 │ Float64    │ Float64 │ Int64 │
├─────┼───────┼────────────┼─────────┼───────┤
│ 1   │ 1     │ 0.867347   │ 7.44066 │ 6     │
│ 2   │ 2     │ -0.901744  │ 11.9946 │ 10    │
│ 3   │ 3     │ -0.494479  │ 10.6048 │ 14    │
│ 4   │ 4     │ -0.902914  │ 9.92711 │ 7     │
│ 5   │ 5     │ 0.864401   │ 10.2839 │ 10    │
│ 6   │ 6     │ 2.21188    │ 11.0425 │ 15    │
│ 7   │ 7     │ 0.532813   │ 11.7935 │ 10    │
│ 8   │ 8     │ -0.271735  │ 8.97294 │ 12    │
│ 9   │ 9     │ 0.502334   │ 8.4704  │ 12    │
│ 10  │ 10    │ -0.516984  │ 6.91715 │ 13    │
⋮
│ 20  │ 20    │ -1.50343   │ 8.91239 │ 15    │
│ 21  │ 21    │ 1.56417    │ 7.54655 │ 15    │
│ 22  │ 22    │ -1.39674   │ 8.91657 │ 5     │
│ 23  │ 23    │ 1.1055     │ 8.62701 │ 8     │
│ 24  │ 24    │ -1.10673   │ 8.57414 │ 12    │
│ 25  │ 25    │ -3.21136   │ 9.34588 │ 10    │
│ 26  │ 26    │ -0.0740145 │ 11.0297 │ 12    │
│ 27  │ 27    │ 0.150976   │ 14.8349 │ 9     │
│ 28  │ 28    │ 0.769278   │ 9.38405 │ 12    │
│ 29  │ 29    │ -0.310153  │ 12.4906 │ 7     │
│ 30  │ 30    │ -0.602707  │ 9.9001  │ 10    │

In [9]:
# Question 2: Calculate mean and variance of each column of df1
for name in names(df1)
    println("The mean of column ", name, " is: ", mean(df1[name]))
    println("The variance of column ", name, " is: ", var(df1[name]))
end

The mean of column ID is: 15.5
The variance of column ID is: 77.5
The mean of column var1 is: -0.061674963752526096
The variance of column var1 is: 1.1790054448274625
The mean of column var2 is: 9.580613055613338
The variance of column var2 is: 2.948790077536739
The mean of column var3 is: 10.466666666666667
The variance of column var3 is: 10.188505747126435

In [11]:
# Question 3: Create a new dataframe named df2 from the last 20 rows of df1
df2 = df1[11:30, :]
df2

20×4 DataFrame
│ Row │ ID    │ var1       │ var2    │ var3  │
│     │ Int64 │ Float64    │ Float64 │ Int64 │
├─────┼───────┼────────────┼─────────┼───────┤
│ 1   │ 11    │ -0.560501  │ 9.83968 │ 15    │
│ 2   │ 12    │ -0.0192918 │ 7.81756 │ 6     │
│ 3   │ 13    │ 0.128064   │ 8.83897 │ 11    │
│ 4   │ 14    │ 1.85278    │ 9.36913 │ 12    │
│ 5   │ 15    │ -0.827763  │ 7.2771  │ 12    │
│ 6   │ 16    │ 0.110096   │ 9.77109 │ 5     │
│ 7   │ 17    │ -0.251176  │ 10.3317 │ 15    │
│ 8   │ 18    │ 0.369714   │ 9.18312 │ 7     │
│ 9   │ 19    │ 0.0721164  │ 7.98043 │ 7     │
│ 10  │ 20    │ -1.50343   │ 8.91239 │ 15    │
│ 11  │ 21    │ 1.56417    │ 7.54655 │ 15    │
│ 12  │ 22    │ -1.39674   │ 8.91657 │ 5     │
│ 13  │ 23    │ 1.1055     │ 8.62701 │ 8     │
│ 14  │ 24    │ -1.10673   │ 8.57414 │ 12    │
│ 15  │ 25    │ -3.21136   │ 9.34588 │ 10    │
│ 16  │ 26    │ -0.0740145 │ 11.0297 │ 12    │
│ 17  │ 27    │ 0.150976   │ 14.8349 │ 9     │
│ 18  │ 28    │ 0.769278   │ 9.38405 │ 12    │
│ 19  │ 29    │ -0.310153  │ 12.4906 │ 7     │
│ 20  │ 30    │ -0.602707  │ 9.9001  │ 10    │

In [12]:
# Question 4: Calculate a simple descriptive statistics on df2 using the describe() function
describe(df2)

4×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min      │ median     │ max     │ nunique │
│     │ Symbol   │ Float64   │ Real     │ Float64    │ Real    │ Nothing │
├─────┼──────────┼───────────┼──────────┼────────────┼─────────┼─────────┤
│ 1   │ ID       │ 20.5      │ 11       │ 20.5       │ 30      │         │
│ 2   │ var1     │ -0.187058 │ -3.21136 │ -0.0466532 │ 1.85278 │         │
│ 3   │ var2     │ 9.49853   │ 7.2771   │ 9.2645     │ 14.8349 │         │
│ 4   │ var3     │ 10.25     │ 5        │ 10.5       │ 15      │         │

In [13]:
# Question 5: Add a column named cat1 to df2 consisting of a random selection of 20 values from the sample space "GroupA" and "GroupB"
df2[:Cat1] = rand(["GroupA", "GroupB"], 20)

20-element Array{String,1}:
 "GroupB"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupB"

In [14]:
# Question 6: Create a new dataframe df3 with columns named "id", "var4" and "var5"
df3 = DataFrame(id=11:30, var4=21:40, var5=41:60)
df3

20×3 DataFrame
│ Row │ id    │ var4  │ var5  │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 11    │ 21    │ 41    │
│ 2   │ 12    │ 22    │ 42    │
│ 3   │ 13    │ 23    │ 43    │
│ 4   │ 14    │ 24    │ 44    │
│ 5   │ 15    │ 25    │ 45    │
│ 6   │ 16    │ 26    │ 46    │
│ 7   │ 17    │ 27    │ 47    │
│ 8   │ 18    │ 28    │ 48    │
│ 9   │ 19    │ 29    │ 49    │
│ 10  │ 20    │ 30    │ 50    │
│ 11  │ 21    │ 31    │ 51    │
│ 12  │ 22    │ 32    │ 52    │
│ 13  │ 23    │ 33    │ 53    │
│ 14  │ 24    │ 34    │ 54    │
│ 15  │ 25    │ 35    │ 55    │
│ 16  │ 26    │ 36    │ 56    │
│ 17  │ 27    │ 37    │ 57    │
│ 18  │ 28    │ 38    │ 58    │
│ 19  │ 29    │ 39    │ 59    │
│ 20  │ 30    │ 40    │ 60    │

In [16]:
# Question 7: Join df2 and df3 on the ID column and save the results as a new dataframe named df4 (hint: you can use innerjoin).
df4 = innerjoin(df2, df3, on=:ID => :id)

20×7 DataFrame
│ Row │ ID    │ var1       │ var2    │ var3  │ Cat1   │ var4  │ var5  │
│     │ Int64 │ Float64    │ Float64 │ Int64 │ String │ Int64 │ Int64 │
├─────┼───────┼────────────┼─────────┼───────┼────────┼───────┼───────┤
│ 1   │ 11    │ -0.560501  │ 9.83968 │ 15    │ GroupB │ 21    │ 41    │
│ 2   │ 12    │ -0.0192918 │ 7.81756 │ 6     │ GroupB │ 22    │ 42    │
│ 3   │ 13    │ 0.128064   │ 8.83897 │ 11    │ GroupB │ 23    │ 43    │
│ 4   │ 14    │ 1.85278    │ 9.36913 │ 12    │ GroupA │ 24    │ 44    │
│ 5   │ 15    │ -0.827763  │ 7.2771  │ 12    │ GroupB │ 25    │ 45    │
│ 6   │ 16    │ 0.110096   │ 9.77109 │ 5     │ GroupA │ 26    │ 46    │
│ 7   │ 17    │ -0.251176  │ 10.3317 │ 15    │ GroupA │ 27    │ 47    │
│ 8   │ 18    │ 0.369714   │ 9.18312 │ 7     │ GroupB │ 28    │ 48    │
│ 9   │ 19    │ 0.0721164  │ 7.98043 │ 7     │ GroupA │ 29    │ 49    │
│ 10  │ 20    │ -1.50343   │ 8.91239 │ 15    │ GroupB │ 30    │ 50    │
│ 11  │ 21    │ 1.56417    │ 7.54655 │ 15    │ GroupB │ 31    │ 51    │
│ 12  │ 22    │ -1.39674   │ 8.91657 │ 5     │ GroupB │ 32    │ 52    │
│ 13  │ 23    │ 1.1055     │ 8.62701 │ 8     │ GroupB │ 33    │ 53    │
│ 14  │ 24    │ -1.10673   │ 8.57414 │ 12    │ GroupA │ 34    │ 54    │
│ 15  │ 25    │ -3.21136   │ 9.34588 │ 10    │ GroupA │ 35    │ 55    │
│ 16  │ 26    │ -0.0740145 │ 11.0297 │ 12    │ GroupA │ 36    │ 56    │
│ 17  │ 27    │ 0.150976   │ 14.8349 │ 9     │ GroupB │ 37    │ 57    │
│ 18  │ 28    │ 0.769278   │ 9.38405 │ 12    │ GroupB │ 38    │ 58    │
│ 19  │ 29    │ -0.310153  │ 12.4906 │ 7     │ GroupA │ 39    │ 59    │
│ 20  │ 30    │ -0.602707  │ 9.9001  │ 10    │ GroupB │ 40    │ 60    │